.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;

}
.carousel-caption{
    bottom: 270px;
  
}

p{
  color: black;
}