*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;

}
nav{
    background: black ;
    color: thistle;
    height: 65px;
    width: 100%;
    /* opacity: 0.7; */
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 65px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin:0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding:7px 13px;
    border-radius: 3px ;

}
nav ul li a:hover{
    background: rgb(221, 12, 29);
    transition: 0.5s;
}

  
.checkbtn{
    font-size: 30px;
    color: yellow;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;


}

#check{
    display: none;
}
@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }

}
@media(max-width: 858px){
    .checkbtn{
        display: block;

    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
     }
    a:hover,a.active{
        background: none;
        color: #0082e6 ;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
 .guys{
    background-color:  darkgrey;
    text-align: center;
    height:48px
} 

.left{
    width: 2%;
    float: left;
}

.content{
    background-color: tan;
    font-family: serif;
    width: 65%;
    float: left;
    padding: 10px;
    height: 500px;


}

.rig{
    width: 33%;
    float: right;
    
    
}
.footer{
    margin-top: 500px;
}